    <%= form_tag new_booking_path, class: "row",
      method: 'get', id: "flight_view" do %>

      <% flights.each do |flight| %>

        <div class="col s12 m6 l4">
          <div class="z-depth-2" id="radios">
            <input class="flight_selector" name="flight" value=<%= flight.id %> type="radio" id=<%= flight.id %> />
            <%= label_tag 'flight_label', "Book this flight (#{flight.price} USD)", for: flight.id, class: "teal-text text-lighten-2", id: flight.id %>
          </div>
          <div>
            <%= render partial: "partials/flight", locals: { flight: flight, date: Time.parse(params[:date]) } %>
          </div>
        </div>

      <% end %>

      <%= hidden_field_tag "passengers_count", params[:passengers] %>
      <%= hidden_field_tag "departure", params[:date] %>

      <div class="input-field">
        <div class="col s12">
          <button id="select"
            class="btn waves-effect waves-light col s12 l12 z-depth-2"
              type="submit" id="select">Select Flight
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>

    <% end %>
