<div class = "container">
  <div class="row">
  <%= form_tag root_path, class: "col l12",
    method: 'get', id: "flight_form" do %>

    <div class="col s12 l12 z-depth-4">
    <div class="input-field col s12 l3">
      <select name="origin">
      <option value="" disabled selected>Origin</option>
        <%= @airports.each do |airport| %>
          <option value= <%= airport.id %> >
            <%= "#{airport.country} - #{airport.name}" %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="input-field col s12 l3">
      <select name="destination">
      <option value="" disabled selected>Destination</option>
        <%= @airports.each do |airport| %>
          <option value= <%= airport.id %> >
            <%= "#{airport.country} - #{airport.name}" %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="input-field col s12 l2">
      <select name="passengers">
      <option value="" disabled selected>Passengers</option>
        <%= (1..10).each do |num| %>
          <option value= <%= num %> >
            <%= num %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="input-field col s12 l2">
      <input type="date" name="date" class="datepicker col s12 l12">
    </div>

    <div class="input-field col s12 l2">
      <button id="search" class="btn waves-effect waves-light col s12 l12" type="submit">Search
        <i class="material-icons right">search</i>
      </button>
    </div>
  </div>

  <% end %>

  <% if @flights %>

    <div class="col s12 l12" id="flights">
    <%= form_tag '#', class: "col l12",
    method: 'get', id: "flight_view" do %>

      <% @flights.each do |flight| %>

        <div class="col s12 l12">

          <input name="results" value=<%=flight.attributes %> flight.ref type="radio" id=<%= flight.ref %> />
          <label id="flight_label" for=<%= flight.ref %> > <%=flight.description %>
          </label>

        </div>

      <% end %>

      <div class="input-field col s12 l2">
        <button id="select" class="btn waves-effect waves-light col s12 l12" type="submit">Select Flight
          <i class="material-icons right">select</i>
        </button>
      </div>

    <% end %>
    </div>

  <% end %>

  </div>
</div>
