<div class="container">
  <div class="row">

    <% if @bookings.empty? %>
      <h5 class="center-align z-depth-2 rounded-header col s12 m6 l4 offset-m3 offset-l4">You have not made any bookings with Flyght yet</h5>
    <% else %>

    <h4 class="col s12 m6 l4 center-align rounded-header z-depth-2 offset-m3 offset-l4">Here are your past bookings</h4>
    <table class="striped col s12 m12 l12 center-align">
      <thead>
        <tr>
          <th data-field="origin">ORIGIN</th>
          <th data-field="destination">DESTINATION</th>
          <th data-field="date">DEPARTURE DATE</th>
          <th data-field="price">TOTAL PRICE</th>
          <th data-field="date_booked">DATE BOOKED</th>
          <th data-field="view">LINK TO VIEW</th>
          <th data-field="edit">LINK TO EDIT</th>
          <th data-field="delete">LINK TO CANCEL</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.flight.origin_airport.name %></td>
            <td><%= booking.flight.destination_airport.name %></td>
            <td><%= booking.departure.strftime '%Y-%m-%d' %></td>
            <td><%= "#{booking.price} USD" %></td>
            <td><%= booking.updated_at.strftime '%Y-%m-%d %H:%M' %></td>
            <td><%= link_to "View", booking %></td>
            <td><%= link_to "Edit", edit_booking_path(booking) %></td>
            <% if booking_expired(booking) %>
              <td>EXPIRED</td>
            <% else %>
              <td><%= link_to "Cancel Booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel this boooking?" }%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% end %>
  </div>
</div>

